# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store

# Results & local data
results/
proxies.txt
twitter.txt
btc.txt
experience.txt
contribution.txt
why.txt
